.display {
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: column;
  // align-items: center;

  &__heading {
    padding-left: 9.5rem;
    font-size: 2rem;
    font-family: "Cera Pro";
  }
}

.buttons {
  padding-left: 7.5rem;

  &__list {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    width: 80%;
    list-style: none;
  }
}
